.board{
    color: white;
    background-color: #151E46;
    width: 390px;
    height: 250px;
    display: flex;
    border-radius: 10px;
}
.segment{
    flex: 1;
    text-align: center;
}
.score{
    background-color: black;
    width: 120px;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}
.btn{
    color: white;
    background-color: #151E46;
    margin-top: 20px;
    border: 2px solid white;
    border-radius: 5px;
    padding: 2px 6px;
}
#score1-el, #score2-el{
    color: rgb(217, 4, 4);
    padding: 25px;
}